<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products-->
                <div *ngFor="let tempProduct of activities" class="col-md-3">
                    <div class="product-box">
            
                        <a routerLink="/seckill/{{ tempProduct.id }}">
                            <img src="assets/images/products/books/book-luv2code-1000.png" class="img-responsive" >
                        </a>
                        
                        <a routerLink="/seckill/{{ tempProduct.id }}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        
                        <div class="price">
                            Seckill Price: {{ tempProduct.seckillPrice| currency:'USD' }}
                        </div>

                        <!-- <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to Cart</button> -->
                    </div>
                </div>
                 
                <!-- if products empty then diplay a message--> 
                <div *ngIf="activities?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>

            </div>

        </div>
    </div>
</div>


